@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.support__container {
  width: 100vw;
  background-color: #fff;
  margin: 0 0 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #d9e6e5;
  padding: calc(100vw - 95vw);
}

.support__container_title {
  font-size: 4rem;
  position: relative;
  color: #d9e6e5;
  z-index: 3;
}

.support__container_title::before {
  content: "";
  position: absolute;
  background-image: url("../assets/mark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 5rem;
  height: 5rem;
  top: -0.3em;
  right: -1em;
  z-index: -1;
}

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

li {
  margin: 0 1.5em;
}

div {
  text-align: left;
}

body {
  background-color: #fff;
  font-family: "Roboto Serif", serif;
  color: #1e5b4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  position: relative;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 0.5em 1em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #fff;
  background-color: #1e5b4d;
}

.btn:hover {
  width: 30%;
}

.form__feedback_email::-webkit-input-placeholder, .form__feedback_textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.form__feedback_email:-ms-input-placeholder, .form__feedback_textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.form__feedback_email::-ms-input-placeholder, .form__feedback_textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.form__feedback_email::placeholder, .form__feedback_textarea::placeholder {
  font-weight: 400;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.form__feedback_email:focus::-webkit-input-placeholder, .form__feedback_textarea:focus::-webkit-input-placeholder {
  -webkit-transform: translateY(-250%);
          transform: translateY(-250%);
}

.form__feedback_email:focus:-ms-input-placeholder, .form__feedback_textarea:focus:-ms-input-placeholder {
  transform: translateY(-250%);
}

.form__feedback_email:focus::-ms-input-placeholder, .form__feedback_textarea:focus::-ms-input-placeholder {
  transform: translateY(-250%);
}

.form__feedback_email:focus::placeholder, .form__feedback_textarea:focus::placeholder {
  -webkit-transform: translateY(-250%);
          transform: translateY(-250%);
}

.form__feedback_email, .form__feedback_textarea {
  border-radius: 4px;
  padding-inline: 0.5em;
  width: 100%;
  background-color: #d9e6e5;
  overflow: hidden;
}

.search__container {
  position: fixed;
  display: absolute;
  width: 70%;
  height: 50px;
  background-color: rgba(99, 99, 99, 0.2);
  left: 50%;
  top: -20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.216);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.216);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.search__container_bar {
  padding: 0 1em;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.search__container_bar::-webkit-input-placeholder {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.search__container_bar:-ms-input-placeholder {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.search__container_bar::-ms-input-placeholder {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.search__container_bar::placeholder {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.search__container_bar:focus::-webkit-input-placeholder {
  -webkit-transform: translateY(-250%);
          transform: translateY(-250%);
}

.search__container_bar:focus:-ms-input-placeholder {
  transform: translateY(-250%);
}

.search__container_bar:focus::-ms-input-placeholder {
  transform: translateY(-250%);
}

.search__container_bar:focus::placeholder {
  -webkit-transform: translateY(-250%);
          transform: translateY(-250%);
}

.scrollToTopIcon {
  position: fixed;
  cursor: pointer;
  border-radius: 10%;
  padding: 0.5em 1em;
  background-color: #1e5b4d;
  right: 5%;
  bottom: 5%;
  z-index: 3;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.3);
}

.scrollToTopIcon i {
  color: #d9e6e5;
  font-size: 20px;
}

.logo__container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.logo__container_section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em 4em;
  height: 570px;
  background-color: #d9e6e5;
}

.logo__container_section1 .animated__words {
  width: 100%;
  padding: 2em;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  color: "inhiret";
  text-decoration: none;
  margin-top: -3em;
}

.logo__container_section1 .logo svg {
  margin: auto;
  width: 70%;
  cursor: pointer;
}

.logo__container_section1 .logo svg:hover path {
  fill: rgba(30, 91, 77, 0.91);
}

.logo__container_section1 .logo svg path {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  fill: #1e5b4d;
}

.logo__container_section2, .contribute__container, .feedback__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 300px;
  background: #1e5b4d;
}

.about__project_container,
.about__team_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #d9e6e5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: 100%;
}

.about__project_container > *,
.about__team_container > * {
  text-align: center;
}

.contribute__container {
  background-color: #d9e6e5;
  font-weight: 600;
  font-size: 20px;
  color: "inhiret";
  text-decoration: none;
}

.contribute__container a {
  margin: 1em;
  width: 200px;
  text-align: center;
}

.tabs__container {
  margin: 3em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  z-index: 2;
  width: 100%;
  background-color: #fff;
  padding: 3em;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
          box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 0.3rem;
  border-radius: 99px;
}

.tabs * {
  z-index: 2;
}

input[type="radio"] {
  display: none;
}

.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 54px;
  width: 150px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  -webkit-transition: color 0.15s ease-in;
  transition: color 0.15s ease-in;
}

.notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-left: 0.75rem;
  border-radius: 50%;
  background-color: #e6eef9;
  -webkit-transition: 0.15s ease-in;
  transition: 0.15s ease-in;
}

input[type="radio"]:checked + label {
  color: #e6eef9;
}

input[type="radio"]:checked + label > .notification {
  background-color: rgba(217, 230, 229, 0.3);
  color: #fff;
}

input[id="radio0"]:checked ~ .glider {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

input[id="radio1"]:checked ~ .glider {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

input[id="radio2"]:checked ~ .glider {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

input[id="radio3"]:checked ~ .glider {
  -webkit-transform: translateX(300%);
          transform: translateX(300%);
}

input[id="radio4"]:checked ~ .glider {
  -webkit-transform: translateX(400%);
          transform: translateX(400%);
}

.glider {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 54px;
  width: 150px;
  background-color: #1e5b4d;
  z-index: 1;
  border-radius: 99px;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

@media (max-width: 700px) {
  .tabs {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

.projects__parent {
  width: 100%;
  padding: 0 5em;
  min-height: 30em;
  background: #d9e6e5;
}

.projects__parent_container {
  padding: 2em 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects__parent_container_wrapper {
  width: 100%;
  border-radius: 8px;
}

.story__container::after {
  border-left: 3px solid "#d02020";
}

.story__container:hover::after {
  border-left: 10px solid "#d02020";
}

.expeeience__container::after {
  border-left: 3px solid turquoise;
}

.expeeience__container:hover::after {
  border-left: 10px solid turquoise;
}

.gallery__container::after {
  border-left: 3px solid yellow;
}

.gallery__container:hover::after {
  border-left: 10px solid yellow;
}

.story__container,
.experience__container,
.gallery__container {
  cursor: pointer;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background: #1e5b4d;
  background-position: 100%;
  background-size: cover;
  color: #d9e6e5;
  border-radius: 10px;
  padding: 2em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: -webkit-transform opacity 0.2s;
  transition: -webkit-transform opacity 0.2s;
  transition: transform opacity 0.2s;
  transition: transform opacity 0.2s, -webkit-transform opacity 0.2s;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.story__container::after,
.experience__container::after,
.gallery__container::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.story__container:hover::after,
.experience__container:hover::after,
.gallery__container:hover::after {
  background: none;
}

.story__container:hover .story__container_title,
.experience__container:hover .story__container_title,
.gallery__container:hover .story__container_title, .story__container:hover
.experience__container_title,
.experience__container:hover
.experience__container_title,
.gallery__container:hover
.experience__container_title, .story__container:hover
.gallery__container_title,
.experience__container:hover
.gallery__container_title,
.gallery__container:hover
.gallery__container_title {
  -webkit-transform: translateY(-5em);
          transform: translateY(-5em);
  opacity: 0;
}

.story__container:hover .story__container_desc,
.experience__container:hover .story__container_desc,
.gallery__container:hover .story__container_desc, .story__container:hover
.experience__container_desc,
.experience__container:hover
.experience__container_desc,
.gallery__container:hover
.experience__container_desc, .story__container:hover
.gallery__container_desc,
.experience__container:hover
.gallery__container_desc,
.gallery__container:hover
.gallery__container_desc {
  -webkit-transform: translateY(6em);
          transform: translateY(6em);
  opacity: 0;
}

.story__container:hover .story__container_date,
.experience__container:hover .story__container_date,
.gallery__container:hover .story__container_date, .story__container:hover
.experience__container_date,
.experience__container:hover
.experience__container_date,
.gallery__container:hover
.experience__container_date, .story__container:hover
.gallery__container_date,
.experience__container:hover
.gallery__container_date,
.gallery__container:hover
.gallery__container_date {
  -webkit-transform: translateY(6em);
          transform: translateY(6em);
  opacity: 0;
}

.story__container:hover .story__container_tags,
.experience__container:hover .story__container_tags,
.gallery__container:hover .story__container_tags, .story__container:hover
.experience__container_tags,
.experience__container:hover
.experience__container_tags,
.gallery__container:hover
.experience__container_tags, .story__container:hover
.gallery__container_tags,
.experience__container:hover
.gallery__container_tags,
.gallery__container:hover
.gallery__container_tags {
  -webkit-transform: translateY(6em);
          transform: translateY(6em);
  opacity: 0;
}

.story__container_title,
.experience__container_title,
.gallery__container_title {
  margin-bottom: 1em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}

.story__container_desc,
.experience__container_desc,
.gallery__container_desc {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}

.story__container_date,
.experience__container_date,
.gallery__container_date {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  font-style: italic;
  padding: 0 0 0.3em;
}

.story__container_tags,
.experience__container_tags,
.gallery__container_tags {
  opacity: 1;
  font-size: 0.8rem;
  padding: 0.5em 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.story__container_tags_each,
.experience__container_tags_each,
.gallery__container_tags_each {
  font-style: italic;
}

.feedback__container {
  font-weight: 600;
  font-size: 18px;
  color: "inhiret";
  text-decoration: none;
  color: #d9e6e5;
}

.feedback__container_support {
  width: 100%;
  text-align: left;
}

.form__feedback {
  width: 70%;
}

.form__feedback_email {
  width: 100%;
  margin: 0.4em 0;
  padding: 0.4em;
}

.form__feedback_textarea {
  min-height: 5em;
  padding-top: 0.4em;
  resize: vertical;
}

.form__feedback_submit {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin: 0.5em 0 0;
  background-color: #d9e6e5;
  color: #1e5b4d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 150px;
}

.form__feedback_submit:hover {
  width: 150px;
}

.form__feedback_res {
  font-weight: 400;
  font-size: 0.9rem;
  color: "inhiret";
  text-decoration: none;
  margin-inline: 1em;
}

.footer__tail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
}

.footer__tail_menu {
  font-size: 0.6rem;
  padding: 0 0 1em;
}

.footer__tail_menu_item {
  padding-inline: 1em;
  font-weight: 100;
}

.footer__tail_copyrights {
  text-align: center;
  font-size: 0.7rem;
}
/*# sourceMappingURL=style.css.map */