@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.support__container {
  width: 100vw;
  background-color: #fff;
  margin: 0 0 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #d9e6e5;
  padding: calc(100vw - 95vw);
}

.support__container_title {
  font-size: 4rem;
  position: relative;
  color: #d9e6e5;
  z-index: 3;
}

.support__container_title::before {
  content: "";
  position: absolute;
  background-image: url("../assets/mark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 5rem;
  height: 5rem;
  top: -0.3em;
  right: -1em;
  z-index: -1;
}

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

li {
  margin: 0 1.5em;
}

div {
  text-align: left;
}

body {
  background-color: #fff;
  font-family: "Roboto Serif", serif;
  color: #1e5b4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  position: relative;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 0.5em 1em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #fff;
  background-color: #1e5b4d;
}

.btn1:hover {
  width: 20%;
  background-color: #226757;
}

.btn2:hover {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}

.form__feedback_email::-webkit-input-placeholder, .form__feedback_textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.form__feedback_email:-ms-input-placeholder, .form__feedback_textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.form__feedback_email::-ms-input-placeholder, .form__feedback_textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.form__feedback_email::placeholder, .form__feedback_textarea::placeholder {
  font-weight: 400;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.form__feedback_email:focus::-webkit-input-placeholder, .form__feedback_textarea:focus::-webkit-input-placeholder {
  -webkit-transform: translateY(-250%);
          transform: translateY(-250%);
}

.form__feedback_email:focus:-ms-input-placeholder, .form__feedback_textarea:focus:-ms-input-placeholder {
  transform: translateY(-250%);
}

.form__feedback_email:focus::-ms-input-placeholder, .form__feedback_textarea:focus::-ms-input-placeholder {
  transform: translateY(-250%);
}

.form__feedback_email:focus::placeholder, .form__feedback_textarea:focus::placeholder {
  -webkit-transform: translateY(-250%);
          transform: translateY(-250%);
}

.form__feedback_email, .form__feedback_textarea {
  border-radius: 4px;
  padding-inline: 0.5em;
  width: 100%;
  background-color: #d9e6e5;
  overflow: hidden;
  font-weight: 400;
  font-size: 1rem;
  color: "inhiret";
  text-decoration: none;
  color: #1e5b4d;
}

.support__container {
  width: 100vw;
  background-color: #1e5b4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #d9e6e5;
  padding: calc(100vw - 95vw);
}

.support__container_title {
  font-size: 4rem;
  position: relative;
  color: #d9e6e5;
  z-index: 3;
}

.support__container_title::before {
  content: "";
  position: absolute;
  background-image: url("../assets/mark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 5rem;
  height: 5rem;
  top: -0.3em;
  right: -1em;
  z-index: -1;
}

.timeline__container {
  margin: 2em 0;
  width: 60%;
}

.timeline__container_list_item {
  background-color: #d9e6e5;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  color: "inhiret";
  text-decoration: none;
  margin: 0.2em auto;
  padding: 0.4em 0.8em;
  position: relative;
  width: 100%;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.313);
          box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.313);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.timeline__container_list_item_body, .timeline__container_list_item_details {
  display: block;
  padding: 3px 5px;
  border: none;
  border-radius: 3px;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
}

.timeline__container_list_item_details {
  font-weight: 300;
  display: none;
}

.timeline__container_list_item_date {
  display: block;
  font-style: italic;
  padding: 3px 5px;
  border: none;
  border-radius: 3px;
  background-color: #1e5b4d;
  color: #fff;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.timeline__container_list_item::after {
  content: attr(data-status);
  position: absolute;
  left: 1rem;
  top: 2em;
  font-size: 0.5rem;
  padding: 2px 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.501);
          box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.501);
  color: #fff;
  background-color: #1e5b4d;
}

.timeline__container_list_item:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.timeline__container_list_item:last-child {
  background-image: url(../assets/imgs/mark.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: difference;
  background-position-x: 125%;
  background-position-y: 50px;
}

.timeline__container_list_item:last-child:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.needed_status::after {
  background-color: #df2222;
}

.present {
  background-color: #1e5b4d;
  color: #d9e6e5;
}

.present__details {
  display: block !important;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.support__donate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.support__donate_para {
  text-align: center;
  width: 100%;
  margin: 2em auto;
}

.support__donate_para span {
  font-size: 2em;
}

.support__donate_para2 {
  text-align: center;
  width: 100%;
  margin: 2em auto;
  width: 70%;
}

.apprciated {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #d9e6e5;
}

.apprciated__container {
  display: block;
  width: 50%;
}

.apprciated__container_heart {
  font-size: 4em;
  margin: auto;
  width: 3em;
  color: #1e5b4d;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

.form__feedback {
  width: 50%;
  font-size: 0.9;
  margin: 1em 0;
}

.form__feedback_support {
  font-weight: 400;
  font-size: 0.9rem;
  color: "inhiret";
  text-decoration: none;
}

.form__feedback_email {
  width: 100%;
  margin: 0.4em 0;
  padding: 0.4em;
}

.form__feedback_email::-webkit-input-placeholder {
  font-size: 0.8rem;
}

.form__feedback_email:-ms-input-placeholder {
  font-size: 0.8rem;
}

.form__feedback_email::-ms-input-placeholder {
  font-size: 0.8rem;
}

.form__feedback_email::placeholder {
  font-size: 0.8rem;
}

.form__feedback_textarea {
  min-height: 5em;
  padding-top: 0.4em;
  resize: vertical;
}

.form__feedback_textarea::-webkit-input-placeholder {
  font-size: 0.8rem;
}

.form__feedback_textarea:-ms-input-placeholder {
  font-size: 0.8rem;
}

.form__feedback_textarea::-ms-input-placeholder {
  font-size: 0.8rem;
}

.form__feedback_textarea::placeholder {
  font-size: 0.8rem;
}

.form__feedback_submit {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin: 0.5em 0 0;
  background-color: #d9e6e5;
  color: #1e5b4d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 150px;
}

.form__feedback_submit:hover {
  width: 150px;
}

.form__feedback_res {
  font-weight: 400;
  font-size: 0.9rem;
  color: "inhiret";
  text-decoration: none;
  margin-inline: 1em;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-filter: drop-shadow(0px 0px 10px #1e5b4d) drop-shadow(0px 0px 10px #1e5b4d);
            filter: drop-shadow(0px 0px 10px #1e5b4d) drop-shadow(0px 0px 10px #1e5b4d);
  }
  100% {
    -webkit-filter: drop-shadow(0px 0px 200px #1e5b4d) drop-shadow(0px 0px 200px #1e5b4d);
            filter: drop-shadow(0px 0px 200px #1e5b4d) drop-shadow(0px 0px 200px #1e5b4d);
  }
}

@keyframes pulse {
  0% {
    -webkit-filter: drop-shadow(0px 0px 10px #1e5b4d) drop-shadow(0px 0px 10px #1e5b4d);
            filter: drop-shadow(0px 0px 10px #1e5b4d) drop-shadow(0px 0px 10px #1e5b4d);
  }
  100% {
    -webkit-filter: drop-shadow(0px 0px 200px #1e5b4d) drop-shadow(0px 0px 200px #1e5b4d);
            filter: drop-shadow(0px 0px 200px #1e5b4d) drop-shadow(0px 0px 200px #1e5b4d);
  }
}

.past::after {
  background-color: gray;
  color: rgba(255, 255, 255, 0.521);
}

.footer__tail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #d9e6e5;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
}

.footer__tail_menu {
  font-size: 0.6rem;
  padding: 0 0 1em;
}

.footer__tail_menu_item {
  padding-inline: 1em;
  font-weight: 100;
}

.footer__tail_copyrights {
  text-align: center;
  font-size: 0.7rem;
}
/*# sourceMappingURL=support.css.map */