@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.support__container {
  width: 100vw;
  background-color: #fff;
  margin: 0 0 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #d9e6e5;
  padding: calc(100vw - 95vw);
}

.support__container_title {
  font-size: 4rem;
  position: relative;
  color: #d9e6e5;
  z-index: 3;
}

.support__container_title::before {
  content: "";
  position: absolute;
  background-image: url("../assets/mark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 5rem;
  height: 5rem;
  top: -0.3em;
  right: -1em;
  z-index: -1;
}

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

li {
  margin: 0 1.5em;
}

div {
  text-align: left;
}

body {
  background-color: #fff;
  font-family: "Roboto Serif", serif;
  color: #1e5b4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  position: relative;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 0.5em 1em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #fff;
  background-color: #1e5b4d;
}

.btn:hover {
  width: 30%;
}

.support__container {
  width: 100vw;
  background-color: #1e5b4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #d9e6e5;
  padding: calc(100vw - 95vw);
}

.support__container_title {
  font-size: 4rem;
  position: relative;
  color: #d9e6e5;
  z-index: 3;
}

.support__container_title::before {
  content: "";
  position: absolute;
  background-image: url("../assets/mark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 5rem;
  height: 5rem;
  top: -0.3em;
  right: -1em;
  z-index: -1;
}

.timeline__container {
  margin: 2em 0;
  width: 60%;
}

.timeline__container_list_item {
  background-color: #d9e6e5;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  margin: 0.2em auto;
  padding: 0.4em 0.8em;
  position: relative;
  width: 100%;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.313);
          box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.313);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.timeline__container_list_item_body {
  display: block;
  padding: 3px 5px;
  border: none;
  border-radius: 3px;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.timeline__container_list_item_date {
  display: block;
  font-style: italic;
  padding: 3px 5px;
  border: none;
  border-radius: 3px;
  background-color: #1e5b4d;
  color: #fff;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.timeline__container_list_item::after {
  content: attr(data-status);
  position: absolute;
  left: 1rem;
  top: 20%;
  font-size: 0.5rem;
  padding: 2px 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.501);
          box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.501);
  color: #fff;
  background-color: #1e5b4d;
}

.timeline__container_list_item:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.present {
  background-color: #1e5b4d;
  color: #d9e6e5;
  text-shadow: 1px 1px 30px;
}

.support__donate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.support__donate_para {
  text-align: center;
  width: 100%;
  margin: 2em 0;
}

.support__donate_para span {
  font-size: 2em;
}

.apprciated,
.fst__method,
.snd__method,
.third__method {
  padding: 0 2em;
  margin: 2em auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.apprciated__container {
  display: block;
  width: 20%;
}

.apprciated__container_heart {
  font-size: 4em;
  width: 6em;
  color: #1e5b4d;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-filter: drop-shadow(0px 0px 10px #1e5b4d) drop-shadow(0px 0px 10px #1e5b4d);
            filter: drop-shadow(0px 0px 10px #1e5b4d) drop-shadow(0px 0px 10px #1e5b4d);
  }
  100% {
    -webkit-filter: drop-shadow(0px 0px 200px #1e5b4d) drop-shadow(0px 0px 200px #1e5b4d);
            filter: drop-shadow(0px 0px 200px #1e5b4d) drop-shadow(0px 0px 200px #1e5b4d);
  }
}

@keyframes pulse {
  0% {
    -webkit-filter: drop-shadow(0px 0px 10px #1e5b4d) drop-shadow(0px 0px 10px #1e5b4d);
            filter: drop-shadow(0px 0px 10px #1e5b4d) drop-shadow(0px 0px 10px #1e5b4d);
  }
  100% {
    -webkit-filter: drop-shadow(0px 0px 200px #1e5b4d) drop-shadow(0px 0px 200px #1e5b4d);
            filter: drop-shadow(0px 0px 200px #1e5b4d) drop-shadow(0px 0px 200px #1e5b4d);
  }
}

.footer__tail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
}

.footer__tail_menu {
  font-size: 0.6rem;
  padding: 0 0 1em;
}

.footer__tail_menu_item {
  padding-inline: 1em;
  font-weight: 100;
}

.footer__tail_copyrights {
  text-align: center;
  font-size: 0.7rem;
}
/*# sourceMappingURL=support.css.map */