@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.support__container, .team__container {
  width: 100vw;
  background-color: #fff;
  margin: 0 0 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #d9e6e5;
  padding: calc(100vw - 95vw);
}

.support__container_title, .team__container_title {
  font-size: 4rem;
  position: relative;
  color: #d9e6e5;
  z-index: 3;
}

.support__container_title::before, .team__container_title::before {
  content: "";
  position: absolute;
  background-image: url("../assets/mark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 5rem;
  height: 5rem;
  top: -0.3em;
  right: -1em;
  z-index: -1;
}

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

li {
  margin: 0 1.5em;
}

div {
  text-align: left;
}

body {
  background-color: #fff;
  font-family: "Roboto Serif", serif;
  color: #1e5b4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  position: relative;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 0.5em 1em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #fff;
  background-color: #1e5b4d;
}

.btn:hover {
  width: 30%;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.4em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__container {
  background-color: #1e5b4d;
}

.team__members {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__member {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30em;
  padding: 0 2em 4em;
}

.team__member_img {
  margin: 0 auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__member_name {
  font-weight: 700;
  font-size: 3rem;
  color: "inhiret";
  text-decoration: none;
}

.team__member_role {
  letter-spacing: 0.3rem;
  background-color: #1e5b4d;
  color: #d9e6e5;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.2em;
  margin: 0 auto;
}

.team__member_about {
  text-align: center;
  margin: 0 auto;
  padding: 2em 0;
  width: 80%;
}

.team__member_about em {
  display: block;
  margin-top: 0.9em;
}

.team__member_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  margin: 0 0 1em;
}

.footer__tail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
}

.footer__tail_menu {
  font-size: 0.6rem;
  padding: 0 0 1em;
}

.footer__tail_menu_item {
  padding-inline: 1em;
  font-weight: 100;
}

.footer__tail_copyrights {
  text-align: center;
  font-size: 0.7rem;
}
/*# sourceMappingURL=team.css.map */