@import "./variables";

// ================= Font ====================

@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// ================= Reset ====================

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  //   border-radius: 100em;
  color: inherit;
}

a:hover,
a:focus {
  // color: map-get($colors, bg4);
}

ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

li {
  margin: 0 1.5em;
}

div {
  // width: 100vw;
  text-align: left;
}

body {
  background-color: nth($colors, 1);
  font-family: $base-font;
  color: nth($colors, 3);
  @include flex;
  flex-direction: column;
  width: 100vw;
  position: relative;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: nth($pm, 1) * 0.5 nth($pm, 1);
  transition: nth($trans, 1);
  color: nth($colors, 1);
  background-color: nth($colors, 3);
}

.btn:hover {
  width: 30%;
  //   background-color: nth($colors, 2);
  //   color: nth($colors, 3);
}

%inner_placeholders {
  @include font($fs: 0.9rem, $fc: rgba($color: #000000, $alpha: 0.2));
  transition: nth($trans, 1);
  &:focus {
    transform: translateY(-250%);
  }
}

%input_boxes {
  border-radius: 4px;
  padding-inline: nth($pm, 1) * 0.5;
  width: 100%;
  background-color: nth($colors, 2);
  overflow: hidden;
}

%tooltip {
  position: relative;
  &::after {
    content: attr(data-tooltip);
    font-size: 0.4rem;
    position: absolute;
    padding: nth($pm, 1) * 0.4;
    background-color: rgba(119, 104, 104, 0.451);
    color: #d7d7d7;
    width: max-content;
    top: 100%;
    left: 30%;
    opacity: 0;
    transition: nth($trans, 1);
  }
}
