// ================= Font ====================

// ================= Variables ====================

$base-font: "Roboto Serif", serif;
$colors: #fff, #d9e6e5, #1e5b4d, #c1c1c1, #1f1c1d, #7a2f30;
$tips_colors: #e6eef9, #185ee0, #d02020;

$lh: 2em, 4em, 8em;
$pm: 1em, 2em, 4em, 8em;
$trans: 0.2s, 0.5s;

$proj_labels: (
  "story": "#d02020",
  "experience": "#d02020",
  "gallery": "#d02020",
);
// ================= Mixins ====================
@mixin font($fw: 400, $fs: 1rem, $fc: "inhiret", $deco: none) {
  font-weight: $fw;
  font-size: $fs;
  color: $fc;
  text-decoration: $deco;
}

@mixin flex($fx: flex, $align: center, $just: center) {
  display: $fx;
  align-items: $align;
  justify-content: $just;
}

// =============== From the Lagacy website ============

.support__container {
  width: 100vw;
  background-color: nth($colors, 1);
  margin: 0 0 nth($pm, 2);
  @include flex;
  flex-direction: column;
  color: nth($colors, 2);
  padding: calc(100vw - 95vw);

  &_title {
    font-size: 4rem;
    position: relative;
    color: nth($colors, 2);
    z-index: 3;
    &::before {
      content: "";
      position: absolute;
      background-image: url("../assets/mark.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 5rem;
      height: 5rem;
      top: -0.3em;
      right: -1em;
      z-index: -1;
    }
  }
}
