// ================= Font ====================

// ================= Variables ====================

$base-font: "Roboto Serif", serif;
$colors: #000, #c1c1c1, #ee534f, #185ee0, #e6eef9;
$lh: 2em, 4em, 8em;
$pm: 1em, 2em, 4em, 8em;
$trans: 0.2s, 0.5s;

// ================= Mixins ====================

@mixin font($fw: 400, $fs: 1rem, $fc: "inhiret", $deco: none) {
  font-weight: $fw;
  font-size: $fs;
  color: $fc;
  text-decoration: $deco;
}

@mixin flex($fx: flex, $align: center, $just: center) {
  display: $fx;
  align-items: $align;
  justify-content: $just;
}
