@import "./reset";

//TODO: Social media
//TODO: Team page
//TODO: Support page
//TODO: Animation words
//TODO: Publish all finished proj
//TODO: border left stories
//TODO: responsiveness
//TODO: search bar

.scrollToTopIcon {
  position: fixed;
  cursor: pointer;
  border-radius: 10%;
  padding: nth($pm, 1) * 0.5 nth($pm, 1);
  background-color: nth($colors, 3);
  right: 5%;
  bottom: 5%;
  z-index: 3;
  transition: nth($trans, 1);
  box-shadow: 1px 1px 11px rgba($color: #000000, $alpha: 0.3);
  i {
    color: nth($colors, 2);
    font-size: 20px;
  }
}
// ============== Logo ==============
.animated__words {
}

.logo__container {
  height: fit-content;
  width: 100%;
  &_section1 {
    @include flex($align: flex-end, $just: flex-start);
    padding: nth($pm, 2) nth($pm, 3);
    height: 570px;
    background-color: nth($colors, 2);
    .logo {
      svg {
        cursor: pointer;
        &:hover path {
          fill: rgba(nth($colors, 3), 0.8);
        }
        path {
          transition: nth($trans, 1);
          fill: nth($colors, 3);
        }
      }
    }
  }
  &_section2 {
    @include flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    background: nth($colors, 3);
  }
}

// ============== About ==============

.about__project_container,
.about__team_container {
  @include flex;
  color: nth($colors, 2);
  flex-direction: column;
  width: 80%;
  height: 100%;
  & > * {
    text-align: center;
  }
}
.contribute__container {
  @extend .logo__container_section2;
  background-color: nth($colors, 2);
  @include font($fs: 20px, $fw: 600);

  a {
    margin: nth($pm, 1);
    width: 200px;
    text-align: center;
  }
}

// ============== Tabs ==============

.tabs__container {
  margin: 3em 0;
  @include flex;
  position: sticky;
  top: 0%;
  z-index: 2;
  width: 100%;
  background-color: #fff;
  padding: 3em;
}
.tabs {
  display: flex;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(#185ee0, 0.15), 0 6px 12px 0 rgba(#185ee0, 0.15);
  padding: 0.3rem;
  border-radius: 99px;
  * {
    z-index: 2;
  }
}

input[type="radio"] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 150px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 99px; // just a high number to create pill effect
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-left: 0.75rem;
  border-radius: 50%;
  background-color: nth($tips_colors, 1);
  transition: 0.15s ease-in;
}

input[type="radio"] {
  &:checked {
    & + label {
      color: nth($tips_colors, 1);
      & > .notification {
        background-color: rgba(nth($colors, 2), 0.3);
        color: #fff;
      }
    }
  }
}

input[id="radio0"] {
  &:checked {
    & ~ .glider {
      transform: translateX(0);
    }
  }
}
input[id="radio1"] {
  &:checked {
    & ~ .glider {
      transform: translateX(100%);
    }
  }
}

input[id="radio2"] {
  &:checked {
    & ~ .glider {
      transform: translateX(200%);
    }
  }
}

input[id="radio3"] {
  &:checked {
    & ~ .glider {
      transform: translateX(300%);
    }
  }
}

input[id="radio4"] {
  &:checked {
    & ~ .glider {
      transform: translateX(400%);
    }
  }
}

.glider {
  position: absolute;
  display: flex;
  height: 54px;
  width: 150px;
  background-color: nth($colors, 3);
  z-index: 1;
  border-radius: 99px; // just a high number to create pill effect
  transition: 0.25s ease-out;
}

@media (max-width: 700px) {
  .tabs {
    transform: scale(0.6);
  }
}

// ============== Project Tile ==============

.projects__parent {
  width: 100%;
  padding: 0 5em;
  min-height: 30em;
  background: nth($colors, 2);
  &_container {
    padding: nth($pm, 2) 0;
    width: 100%;
    @include flex($align: start);
    flex-direction: column;
    &_wrapper {
      width: 100%;
      border-radius: 8px;
    }
  }
}

.story__container {
  &::after {
    border-left: 3px solid map-get($proj_labels, "story");
  }
  &:hover::after {
    border-left: 10px solid map-get($proj_labels, "story");
  }
}

.expeeience__container {
  &::after {
    border-left: 3px solid turquoise;
  }
  &:hover::after {
    border-left: 10px solid turquoise;
  }
}

.gallery__container {
  &::after {
    border-left: 3px solid yellow;
  }
  &:hover::after {
    border-left: 10px solid yellow;
  }
}

.story__container,
.experience__container,
.gallery__container {
  cursor: pointer;
  height: 100%;
  @include flex($align: right);
  margin-bottom: nth($pm, 2);
  flex-direction: column;
  width: 100%;
  background: nth($colors, 3);
  // background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  color: nth($colors, 2);
  border-radius: 10px;
  padding: nth($pm, 2);
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: transform opacity nth($trans, 1);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  // &:hover {
  //   background: url("../assets/team_members/1.JPG");
  //   background-size: 300%;
  // }
  &::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba($color: #000, $alpha: 0.6);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: nth($trans, 2);
  }
  &:hover::after {
    background: none;
  }
  &:hover &_title {
    transform: translateY(-5em);
    opacity: 0;
  }
  &:hover &_desc {
    transform: translateY(6em);
    opacity: 0;
  }
  &:hover &_date {
    transform: translateY(6em);
    opacity: 0;
  }
  &:hover &_tags {
    transform: translateY(6em);
    opacity: 0;
  }
  &_title {
    margin-bottom: nth($pm, 1);
    transition: nth($trans, 2);
    opacity: 1;
  }
  &_desc {
    transition: nth($trans, 2);
    opacity: 1;
  }
  &_date {
    transition: nth($trans, 2);
    opacity: 1;
    font-style: italic;
    padding: 0 0 nth($pm, 1) * 0.3;
  }
  &_tags {
    opacity: 1;
    font-size: 0.8rem;
    padding: nth($pm, 1) * 0.5 0 0;
    transition: nth($trans, 2);
    &_each {
      font-style: italic;
    }
  }
}

.feedback__container {
  @extend .logo__container_section2;
  @include font($fs: 18px, $fw: 600);
  color: nth($colors, 2);
  &_support {
    width: 100%;
    text-align: left;
  }
}
.form__feedback {
  width: 50%;
  &_email {
    @extend %input_boxes;
    width: 100%;
    margin: nth($pm, 1) * 0.4 0;
    padding: 0.4em;
    &::placeholder {
      @extend %inner_placeholders;
    }
  }
  &_textarea {
    @extend %input_boxes;
    min-height: 5em;
    padding-top: 0.4em;
    resize: vertical;
    &::placeholder {
      @extend %inner_placeholders;
    }
  }
  &_submit {
    align-self: end;
    margin: nth($pm, 1) * 0.5 0 0;
    background-color: nth($colors, 2);
    color: nth($colors, 3);
    transition: 0.3s;
    width: 150px;
    &:hover {
      width: 150px;
    }
  }
  &_res {
    @include font($fs: 0.9rem);
    margin-inline: nth($pm, 1);
  }
}

// ============== Footer ==============
.footer__tail {
  @include flex;
  flex-direction: column;
  padding: nth($pm, 1);
  &_menu {
    font-size: 0.6rem;
    padding: 0 0 nth($pm, 1);
    &_item {
      padding-inline: nth($pm, 1);
      font-weight: 100;
    }
  }
  &_copyrights {
    text-align: center;
    font-size: 0.7rem;
  }
}
