@import "./reset";

.support__container {
  width: 100vw;
  background-color: nth($colors, 3);
  @include flex;
  flex-direction: column;
  color: nth($colors, 2);
  padding: calc(100vw - 95vw);
  &_title {
    font-size: 4rem;
    position: relative;
    color: nth($colors, 2);
    z-index: 3;
    &::before {
      content: "";
      position: absolute;
      background-image: url("../assets/mark.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 5rem;
      height: 5rem;
      top: -0.3em;
      right: -1em;
      z-index: -1;
    }
  }
}

.timeline__container {
  margin: nth($pm, 2) 0;
  width: 60%;
  &_list {
    &_item {
      background-color: nth($colors, 2);
      border: none;
      border-radius: 5px;
      text-align: center;
      font-size: 12px;
      margin: nth($pm, 1) * 0.2 auto;
      padding: nth($pm, 1) * 0.4 nth($pm, 1) * 0.8;
      position: relative;
      width: 100%;
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.313);

      &_body {
        display: block;
        padding: 3px 5px;
        border: none;
        border-radius: 3px;
        margin: auto;
        width: fit-content;
      }
      &_date {
        display: block;
        font-style: italic;
        padding: 3px 5px;
        border: none;
        border-radius: 3px;
        background-color: nth($colors, 3);
        color: nth($colors, 1);
        margin: auto;
        width: fit-content;
      }
      &::after {
        content: attr(data-status);
        position: absolute;
        left: 1rem;
        top: 20%;
        font-size: 0.5rem;
        padding: 2px 3px;
        border-radius: 3px;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.501);
        color: nth($colors, 1);
        background-color: nth($colors, 3);
      }
    }
  }
}
.present {
  font-size: 21px;
  padding: 4px;
  text-shadow: 1px 1px 30px;
}
.support__donate {
  @include flex;
  &_para {
    text-align: center;
    width: 100%;
    margin: nth($pm, 2) 0;
    span {
      font-size: 2em;
    }
  }
}

.apprciated,
.fst__method,
.snd__method,
.third__method {
  padding: 0 nth($pm, 2);
  margin: nth($pm, 2) auto;
  text-align: center;
  @include flex;
  flex-direction: column;
}
.apprciated {
  &__para {
  }
  &__container {
    display: block;
    width: 20%;
    &_heart {
      font-size: 4em;
      width: 6em;
      color: nth($colors, 3);
      animation: pulse 2s infinite;
    }
  }
}

@keyframes pulse {
  0% {
    filter: drop-shadow(0px 0px 10px nth($colors, 3))
      drop-shadow(0px 0px 10px nth($colors, 3));
  }
  100% {
    filter: drop-shadow(0px 0px 200px nth($colors, 3))
      drop-shadow(0px 0px 200px nth($colors, 3));
  }
}
// ============== Footer ==============
.footer__tail {
  @include flex;
  flex-direction: column;
  padding: nth($pm, 1);
  &_menu {
    font-size: 0.6rem;
    padding: 0 0 nth($pm, 1);
    &_item {
      padding-inline: nth($pm, 1);
      font-weight: 100;
    }
  }
  &_copyrights {
    text-align: center;
    font-size: 0.7rem;
  }
}
