@import "./reset";

.support__container {
  width: 100vw;
  background-color: nth($colors, 3);
  @include flex;
  flex-direction: column;
  color: nth($colors, 2);
  padding: calc(100vw - 95vw);
  &_title {
    font-size: 4rem;
    position: relative;
    color: nth($colors, 2);
    z-index: 3;
    &::before {
      content: "";
      position: absolute;
      background-image: url("../assets/mark.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 5rem;
      height: 5rem;
      top: -0.3em;
      right: -1em;
      z-index: -1;
    }
  }
}

.timeline__container {
  margin: nth($pm, 2) 0;
  width: 80%;
  &_list {
    &_item {
      background-color: nth($colors, 2);
      border: none;
      border-radius: 5px;
      text-align: center;
      @include font($fs: 1rem);
      margin: nth($pm, 1) * 0.2 auto;
      padding: nth($pm, 1) * 0.4 nth($pm, 1) * 0.8;
      position: relative;
      width: 100%;
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.313);
      transition: nth($trans, 1);
      cursor: pointer;
      overflow: hidden;
      user-select: none;
      &_body {
        display: block;
        padding: 3px 5px;
        border: none;
        border-radius: 3px;
        margin: auto;
        width: fit-content;
        font-weight: bold;
      }
      &_details {
        @extend .timeline__container_list_item_body;
        font-weight: 300;
        display: none;
        // & > * {
        //   display: none;
        // }
      }
      &_date {
        display: block;
        font-style: italic;
        padding: 3px 5px;
        border: none;
        border-radius: 3px;
        background-color: nth($colors, 3);
        color: nth($colors, 1);
        margin: auto;
        width: fit-content;
      }
      &::after {
        content: attr(data-status);
        position: absolute;
        left: 1rem;
        top: 2em;
        font-size: 0.5rem;
        padding: 2px 3px;
        border-radius: 3px;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.501);
        color: nth($colors, 1);
        background-color: nth($colors, 3);
      }
      &:hover {
        transform: scale(0.95);
      }
      &:last-child {
        background-image: url(../assets/imgs/mark.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-blend-mode: difference;
        background-position-x: 95%;
        background-position-y: 50px;

        &:hover {
          transform: scale(1);
        }
      }
    }
    // &_list:last-child {
    //   background-image: url("https://www.nicepng.com/png/detail/83-839666_feedback-comments-feedback-free-icon-png.png");
    // }
  }
}
.needed_status::after {
  background-color: rgb(223, 34, 34);
}
.present {
  background-color: nth($colors, 3);
  color: nth($colors, 2);
  //   font-size: 21px;
}
.present__details {
  display: block !important;
  height: fit-content;
}
.support__donate {
  @include flex;
  &_para {
    text-align: center;
    width: 100%;
    margin: nth($pm, 2) auto;
    span {
      font-size: 2em;
    }
  }
  &_para2 {
    text-align: center;
    width: 100%;
    margin: nth($pm, 2) auto;
    width: 70%;
  }
}

.apprciated {
  text-align: center;
  width: 100%;
  @include flex;
  flex-direction: column;
  background-color: nth($colors, 2);
  //   margin: nth($pm, 1);
  //   border-radius: 8px;
  &__container {
    display: block;
    width: 50%;
    &_heart {
      font-size: 4em;
      margin: auto;
      width: 3em;
      color: nth($colors, 3);
      animation: pulse 2s infinite;
    }
  }
}

.timeline__small {
  font-size: 0.8rem;
}

// =================== Form Styling ===========

.form__feedback {
  width: 50%;
  font-size: 0.9;
  margin: nth($pm, 1) 0;
  &_support {
    @include font($fs: 0.9rem);
  }
  &_email {
    @extend %input_boxes;
    width: 100%;
    margin: nth($pm, 1) * 0.4 0;
    padding: 0.4em;
    &::placeholder {
      font-size: 0.8rem;
      @extend %inner_placeholders;
    }
  }
  &_textarea {
    @extend %input_boxes;
    min-height: 5em;
    padding-top: 0.4em;
    resize: vertical;
    &::placeholder {
      font-size: 0.8rem;
      @extend %inner_placeholders;
    }
  }
  &_submit {
    align-self: end;
    margin: nth($pm, 1) * 0.5 0 0;
    background-color: nth($colors, 2);
    color: nth($colors, 3);
    transition: 0.3s;
    width: 150px;
    &:hover {
      width: 150px;
    }
  }
  &_res {
    @include font($fs: 0.9rem);
    margin-inline: nth($pm, 1);
  }
}

@keyframes pulse {
  0% {
    filter: drop-shadow(0px 0px 10px nth($colors, 3))
      drop-shadow(0px 0px 10px nth($colors, 3));
  }
  100% {
    filter: drop-shadow(0px 0px 200px nth($colors, 3))
      drop-shadow(0px 0px 200px nth($colors, 3));
  }
}

.past::after {
  background-color: gray;
  color: rgba(255, 255, 255, 0.521);
  //   mix-blend-mode: hard-light;
}
// ============== Footer ==============
.footer__tail {
  @include flex;
  background-color: nth($colors, 2);
  width: 100%;
  flex-direction: column;
  padding: nth($pm, 1);
  &_menu {
    font-size: 0.6rem;
    padding: 0 0 nth($pm, 1);
    &_item {
      padding-inline: nth($pm, 1);
      font-weight: 100;
    }
  }
  &_copyrights {
    text-align: center;
    font-size: 0.7rem;
  }
}
