$fs: 10px, 15px, 20px, 25px, 50px;
$fw: 100, 600, 800;

$color: sandybrown;

@mixin animation-mixin($name, $from, $to) {
  @keyframes #{$name} {
    0% {
      transform: translateY($from);
      opacity: 0;
    }
    100% {
      transform: translateY($to);
      opacity: 1;
    }
  }
}

@include animation-mixin(fadeIn_1, -50%, 0);
@include animation-mixin(fadeIn_2, -100%, 0);
@include animation-mixin(fadeIn_3, none, None);

@include animation-mixin(down, -20px, 0);
@include animation-mixin(up, 100px, 0);

// @mixin text1($name, $from, $to) {
//     @keyframes #{$name} {
//         0% {transform: scaleX($from);}
//         100% {transform: scaleX($to);}
//     }}

// @include text1(ui-slide-in-move, 0, 100%);

// @mixin text2() {
//     @keyframes #{$name} {
//         100% {transform: translateY(-50%) scaleY(1);}
//     }}

// @include text2(left-border-expand);

// @mixin text3($name, $from, $to) {
//     @keyframes #{$name} {
//         0% {
//             transform: translateX($from);
//             opacity: 0;
//         }
//         100% {
//             transform: translateX($to);
//             opacity: 1;
//     }
// }}

// @include text3(word-line-slide-out, -10vw, 0vw);
